@use "./variables" as *;
@use "./type-primitives" as *;
@use "./_tokens" as *;
@use "./_mixins-font" as *;
@use "./../tools/styles/_mixins-font" as *; 

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Colors
$primary: #1D1D1E;
$secondary: #1D1D1E;
$primary_black: #131314;
$white: #fff;
$primary_background: #f8f8f8;
$secondary_background: #f6f6f7;
$third_background: #ececee;
$secondary_text: #7d7d83;
$danger: #f84157;
$primary_border: #ededed;
$secondary_border: #e0e0e4;
$third_border: #f3f3f4;

// Dark theme colors

$dark_primary: #000000;
$dark_secondary: #838383;
$dark_primary_black: #f1f1f1;
$dark_white: #101010;
$dark_primary_background: #212121;
$dark_secondary_background: #f6f6f7;
$dark_third_background: #1a1a1a;
$dark_forth_background: #4a4a4a;
$dark_secondary_text: #7d7d83;
$dark_danger: #f84157;
$dark_primary_border: #ededed;
$dark_secondary_border: #e0e0e4;
$dark_third_border: #f3f3f4;

// Transition

$smooth: all 0.3s ease;
